$fam: Helvetica, Arial, sans-serif;
$color: rgb(1, 103, 255);
$font-col: rgba(0, 0, 0, 0.342);

%button-prop {
  width: 364px;
  height: 48px;
  border-radius: 6px;
  font-size: 20px;
  font-weight: 900;
}
%divsize {
  width: 330px;
  border-color: $font-col;
  color: $font-col;
  font-size: 17px;
  border-radius: 6px;
  padding: 14px 16px 14px 16px;
  margin: 10px;
}
body {
  background-color: #f2f4f7;
  font-family: $fam;
}

.main {
  display: flex;
}
.info {
  margin-left: 24.3%;
  margin-top: 196px;
  .logo {
    color: $color;
    font-size: 60px;
    font-family: klavika, $fam;
    font-weight: bold;
  }
  .expln {
    font-family: $fam;
    font-size: 28px;
    width: 500px;
  }
}

.loginbtn > #loginbtnmain:hover {
    $colour:rgba(1, 103, 255, 0.952);
    background-color: $colour;
    border-color: $colour;
}

#newacc:hover{
    $color:#069712;
    background-color: $color;
    border-color: $color;
}


.login {
  width: 396px;
  height: 351.317px;
  background-color: #fff;
  align-items: center;
  margin-top: 125px;
  margin-left: 80px;
  .uname > input {
    @extend %divsize;
    margin-top: 15px;
    margin-left: 15px;
    box-shadow: none;
    border-color: rgba(255, 255, 255, 0.815);
    border-width: 0.1px;
    border: #f2f4f7 solid;
  }

  .password > input {
    @extend %divsize;
    margin-top: 5px;
    margin-left: 15px;
    box-shadow: $color;
    border-color: rgba(255, 255, 255, 0.815);
    border-width: 0.1px;
    border: #f2f4f7 solid 0.5px;
  }

  .loginbtn > button {
    @extend %button-prop;
    background-color: $color;
    color: white;
    margin-top: 10px;
    padding-top: 0px;
    margin-left: 15px;
    border-color: $color;
  }

  .forgotpass {
    margin: 17px 0px 12px 0px;
    font-size: 14px;
    text-align: center;
  }
  .forgotpass > a {
    color: $color;
    font-family: $fam;
    text-decoration: none;
  }
  .forgotpass > a:hover {
    text-decoration: underline;
  }
  hr {
    color: #e1e8f19c;
    width: 364px;
    margin-top: 17px;
  }

  .createacc {
    align-items: center;
    margin-top: 25px;
    margin-left: 17px;
  }
  .createacc > button {
    @extend %button-prop;
    width: 192.533px;
    height: 48px;
    font-size: 17px;
    color: #fff;
    background-color: #4bce31;
    align-items: center;
    margin-left: 22.5%;
  }
}
.pagead,
.pagead > a {
  color: #000000;
  text-decoration: none;
  margin-top: 50px;
  text-align: center;
  font-size: 14px;
}

.pagead > a {
  font-weight: bolder;
}
.pagead > a:hover {
  text-decoration: underline;
}
